---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} FDH. <a href="https://github.com/Meirunas/fdh-development/tree/main/blog">This blog is open source</a>! 
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
